body {
    background-image: url("Project_1_sources/slot-machine-background2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-color: #1a1a1a;
    height: 100vh;
    width: 100vw;
    display: flex;
   
}

#board {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#buttons {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#reel-container {
    height: 100%;
    width: 100%;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-top: 10%;
}

.reel {
    width: 25%;
    height: 75%;
    background-color: green;
    border: 1px black solid;
    display: flex;
    padding: 10px;
    flex-direction: column;
    padding: 2%;
    align-items: center;

}

.reel-value{
    height: 50%;
    width: 50%;
    background-color: black;
    color: white;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

#info-container {
    display: flex;
    width: 100%;
    background-color: green;
    height: 200px;
    padding: 1%;

    
}

.info {
    width: 100%;
    height: 100%;
    background-color: grey;
    border: 1px black solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#money-input {
    height: 20%;
    background-color: green;
}

#moneybot-container {
   position: relative;
  }

  #moneybot-img {
   width: 100%;
   height: 100%;
   
  
  }

#machine-arm {
    height: 50%;
    background-color: red;
    
}


@media(min-width: 320px) {
    #buttons {
        width: 100px;
    }
    #info-container {
        height: 100px;
    }
}
@media(min-width: 480px) { 
    #buttons {
        width: 120px;
    }
    #info-container {
        height: 120px;
    }
}
@media(min-width: 768px) { 
    #buttons {
        width: 140px;
    }
    #info-container {
        height: 140px;
    }
}
@media(min-width: 1024px) { 
    #buttons {
        width: 160px;
    } 
    #info-container {
        height: 160px;
    }
}
@media(min-width: 1200px) { 
    #buttons {
        width: 180px;
    }
    #info-container {
        height: 180px;
    }
}
